<div class="panel panel-danger well well-sm " ng-app>

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <table>
          <tr>
            <th><h2 id="goodsList_category">增加商品分类</h2></th>
            <th><h4 class="text-right">ADD CATEGORY</h4></th>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-2 text-center">
      分类
    </div>
    <div class="col-md-6 col-md-offset-1 text-center">
      操作
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-2 text-center">
      <input type="text" class="form-control" ng-model="category.name" placeholder="请输入类别名称"></div>
    <div class="col-md-6 col-md-offset-1 text-center">
      <a class="btn btn-primary" role="button" ng-click="addCategory()" href="#manageCategory">确定</a>
      <a class="btn btn-default" role="button" href="#manageCategory">取消</a>
    </div>
  </div>

</div>









