<div class="panel panel-danger well well-sm " ng-app>
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <table>
          <tr>
            <th><h2 id="goodsList_category">修改商品信息</h2></th>
            <th><h4 class="text-right">CHANGE GOODSITEMS</h4></th>
          </tr>
        </table>
      </div>
      <div class="col-md-4">....</div>
      <div class="col-md-2">
        <h1 class="text-right">
          <button type="button" data-toggle="modal" data-target=".add-goodsItems" id="' +item[m].name + '"
                  class="btn btn-primary btn-lg" ng-click="">增加
          </button>
        </h1>
      </div>
    </div>
  </div>
  <table class="table table-striped text-center" id="goodsList_table">
    <tr id="goodsList_header">
      <th class="text-center">分类</th>
      <th class="text-center">名称</th>
      <th class="text-center">单价</th>
      <th class="text-center">单位</th>
      <th class="text-center">操作</th>
    </tr>
    <tr ng-repeat="product in products">
      <td id="goodsList_category">{{product.category}}</td>
      <td id="goodsList_name">{{product.name}}</td>
      <td id="goodsList_price">{{product.price}}</td>
      <td id="goodsList_unit">{{product.unit}}</td>
      <td id="goodsList_addButton">

        <button type="button" id="' +item[m].name + '" class="btn btn-danger " ng-click="">删除</button>
        <button type="button" id="' +item[m].name + '" class="btn btn-warning " ng-click="">修改</button>
      </td>
    </tr>

  </table>


  <div class="modal fad add-goodsItems" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">添加商品信息</h4>
        </div>
        <div class="modal-body">
          <div class=" row text-center form-group">
            <div class="col-md-3 col-md-offset-1 h5">分类</div>
            <div class="col-md-7">
              <input class="form-control" required
                     placeholder="请输入商品类别">
            </div>
          </div>
          <div class=" row text-center form-group">
            <div class="col-md-3 col-md-offset-1 h5">名称</div>
            <div class="col-md-7">
              <input class="form-control" required
                     placeholder="请输入商品名称">
            </div>
          </div>
          <div class=" row text-center form-group">
            <div class="col-md-3 col-md-offset-1 h5">单价</div>
            <div class="col-md-7">
              <input class="form-control" required
                     placeholder="请输入商品单价">
            </div>
          </div>
          <div class=" row text-center form-group">
            <div class="col-md-3 col-md-offset-1 h5">单位</div>
            <div class="col-md-7">
              <input class="form-control" required
                     placeholder="请输入商品单位">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">添加</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>






