<div class="panel panel-danger well well-sm " ng-app>
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <table>
          <tr>
            <th><h2 id="goodsList_category">修改商品分类</h2></th>
            <th><h4 class="text-right">MANAGE CATEGORY</h4></th>
          </tr>
        </table>
      </div>
      <div class="col-md-4">....</div>
      <div class="col-md-2">
        <h1 class="text-right">
          <a id="' +item[m].category + '"
                  role="button" a href="#addCategory" class="btn btn-primary btn-lg" >增加
          </a>
        </h1>
      </div>
    </div>
  </div>
  <table class="table table-striped text-center" id="goodsList_table">
    <tr id="goodsList_header">
      <th class="text-center">分类</th>
      <th class="text-center">操作</th>

    </tr>
    <tr ng-repeat="category in categorys">
      <td id="goodsList_category">{{category.name}}</td>
      <td id="goodsList_addButton">
        <button type="button" id="' +item[m].category + '" class="btn btn-danger "  ng-click="deleteCategory($index)">删除</button>
        <button type="button" id="' +item[m].category + '" class="btn btn-warning " ng-click="">修改</button>
      </td>
    </tr>

  </table>
</div>

</div>







