<div class="panel panel-danger well well-sm " ng-app>

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <table>
          <tr>
            <th><h2 id="goodsList_category">管理商品分类</h2></th>
            <th><h4 class="text-right">MANAGE CATEGORY</h4></th>
          </tr>
        </table>
      </div>

      <div class="col-md-3">
        查找: <input ng-model="searchCategory" class="form-control" placeholder="请输入类别名称">
      </div>

      <div class="col-md-2 col-md-offset-1">
        <h1 class="text-right">
          <a role="button" a href="#addCategory" class="btn btn-primary btn-lg">增加</a>
        </h1>
      </div>

    </div>
  </div>

  <table class="table text-center">

    <tr>
      <th class="text-center">分类</th>
      <th class="text-center">操作</th>
    </tr>

    <tr ng-repeat="category in categories | filter:searchCategory">
      <td>{{category.name}}</td>
      <td>
        <button type="button" class="btn btn-danger " ng-click="deleteCategory($index,category.id)">
          删除
        </button>
        <a class="btn btn-warning" role="button" href="#/modifyCategory/{{category.id}}">修改</a>
      </td>
    </tr>

  </table>
</div>









