<div class="panel panel-danger well well-sm " ng-app xmlns="http://www.w3.org/1999/html">

  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <table>
          <tr>
            <th><h2 id="goodsList_category">修改商品信息</h2></th>
            <th><h4 class="text-right">MODIFY GOODSITEMS</h4></th>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 text-center">分类</div>
    <div class="col-md-2 text-center">名称</div>
    <div class="col-md-2 text-center">单价</div>
    <div class="col-md-2 text-center">单位</div>
    <div class="col-md-2 text-center">操作</div>
  </div>

  <div class="row">
    <div class="col-md-3 text-center">
      <select ng-model="category" ng-options="item.name for item in categories" class="form-control">

      </select>
      <!--<select class="form-control" ng-model='itemList.category'>-->
      <!--<option value={{category.id}} ng-selected={{itemList.category==category.id}}-->
      <!--ng-repeat="category in categories">-->
      <!--{{category.name}}-->
      <!--</option>-->
      <!--</select>-->
    </div>
    <div class="col-md-2 text-center">
      <input type="text" class="form-control" ng-model="itemList.name">
    </div>
    <div class="col-md-2 text-center">
      <input type="text" class="form-control" ng-model="itemList.price">
    </div>
    <div class="col-md-2 text-center">
      <input type="text" class="form-control" ng-model="itemList.unit">
    </div>
    <div class="col-md-2 text-center">
      <a class="btn btn-primary" role="button" ng-click="modifyGoods(itemList)" href="#manageGoodsItems">确定</a>
      <a class="btn btn-default" role="button" href="#manageGoodsItems">取消</a>
    </div>
  </div>

</div>







